@font-face {
    font-family: "Neue Montreal";
    src: url("../fonts/_NeueMontreal-Regular.otf");
}
@font-face {
    font-family: "PPWoodland";
    src: url("../fonts/_PPWoodland-Regular.otf");
}
.meeting-heading {
    text-align: center;
}
.meeting-container {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    flex-wrap: wrap;
    row-gap: 20px;
}
.meeting-details, .meeting-actions {
    padding: 20px;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    height: fit-content;
    margin: 10px;
}
.meeting-details {
    width: 45%;
}
.meeting-actions {
    width: 35%;
}
.meeting-links {
    background-color: var(--yellow);
    color: var(--blue);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    margin: 10px 10px;
    cursor: pointer;
    font-family: "Neue Montreal", sans-serif;
}
.meeting-links:hover {
    background-color: white;
}
.error-message {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(221, 25, 25)
}
@media screen and (max-width: 850px) {
    .meeting-details {
        width: 85%;
    }
    .meeting-actions {
        width: 85%;
    }
    .meeting-heading {
        font-size: 1.4rem;
    }
}