.meetings {
    display: flex;
}
.menu {
    width: 300px;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
}
.meetings-list-container {
    width: 100%;
    font-size: 1.2rem;
}
.meeting {
    background-color: yellow;
    width: 280px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.meeting:hover{
    outline: 5px solid blue;
    background-color: blue;
}
.meetings-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.select-timezone {
    margin: 20px;
    font-size: 1.3rem;
}